/*
    - колір тексту елементів p, які є першими дочірніми, повинен бути червоним;
    - колір тексту елементів р, які є єдиним дочірнім, повинен бути білим;
    - колір заднього фону елементів div, які є єдиними дочірніми певного типу повинен бути синім;
    - колір тексту всіх елементів, які є останніми дочірніми, повинен бути синій.
 */

    p:first-child{
        color: red;
    }
    p:only-child{
        color: white;
    }
    div:only-of-type{
        background-color: blue;
    }
    *:last-child{
        color: blue;
    }
